
<div class="container">
    <div class="popover-header">
        <h1>Trainer Delete works</h1>
    </div>

    <div class="main" id="deleteForm">
        <form class="form-check" action="" method="post">

            <div class="form-group"></div>
            <label for="FirstName">Firstname:</label>
            <input type="text" class="form-control" id="FirstName" aria-describedby="firstName" placeholder="Enter here firstname">
            <small id="fnameHelp" class="form-text text-muted">Required firstname</small>

            <div class="form-group"></div>
            <label for="LastName">Lastname:</label>
            <input type="text" class="form-control" id="LastName" aria-describedby="lastName" placeholder="Enter here lastname">
            <small id="lnameHelp" class="form-text text-muted">Required lastname</small>

            <div class="form-group"></div>
            <label for="Email">Email:</label>
            <input type="text" class="form-control" id="Email" aria-describedby="email" placeholder="Enter here email">
            <small id="emailHelp" class="form-text text-muted">Required email</small>


            <div class="form-group"></div>
            <label for="Phone">Phone:</label>
            <input type="number" class="form-control" id="Phone" aria-describedby="phone" placeholder="Enter here phone">
            <small id="phoneHelp" class="form-text text-muted">Required phone</small>

            <div class="form-group"></div>
            <label for="Salary">Salary:</label>
            <input type="number" class="form-control" id="Salary" aria-describedby="salary" placeholder="Enter here salary">
            <small id="salaryHelp" class="form-text text-muted">Required salary</small>

            <input class="btn btn-primary mb-2" type="submit" name="name" value="Delete" />
            <input class="btn btn-danger mb-2" type="reset" name="name" value="Clear" />
        </form>

    </div>

    
    <div>
        <a href="/Trainer/Index" class="btn btn-outline-dark" target="_blank" title="BACK TO HOME">BACK</a>
    </div>
</div>