@model  Assignment2.Models.ViewModels.Baroufa


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-1">CRUD Application </h1>
    <h2 class="display-4"> with ASP.NET MVC and Entity Framework</h2>
    <p class="lead col-5">Create | Read | Edit | Delete  Trainer</p>
    <p class="col-5"><a href="https://github.com/zafeirisdimi/Assignment2" class="btn btn-outline-secondary btn-lg">Read more at Github &raquo;</a></p>
    <p>
        <img src="~/Media/crud.png" class="img-fluid"/>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<div class="container">
    <div class="col-lg-5 bg-dark">
        @foreach (var trainer in Model.Trainers)
        {
            <h4>@trainer.FirstName @trainer.LastName</h4>
        }
    </div>
    <div class="col-lg-5 bg-secondary">
        @foreach (var student in Model.Students)
        {
            <h4>@student.FirstName @student.LastName</h4>
        }
    </div>


</div>
<div class="container">

    <div class="row">
        @{Html.RenderAction("Index", "Trainer", new {sortOrder="SalaryAsc" });}
    </div>
    <div class="row">
        @{Html.RenderAction("Index", "Student");}
        </div>

    </div>
