@model  Assignment2.Models.ViewModels.Baroufa


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-1">CRUD Application </h1>
    <P class="display-4"> with <span class="bg-primary text-white">ASP.NET MVC</span> and <span class="bg-dark text-white">Entity Framework</span></P>
    <hr class="my-4">
    <div class="row">
        <p class="lead col-10">Create | Read | Edit | Delete</p>
        <p class="col-2"><a href="https://github.com/zafeirisdimi/Assignment2" class="btn btn-outline-secondary">Read More</a></p>
    </div>

    <p>
        <img src="~/Media/crud.png" class="img-fluid" />
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Documentation</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Technologies</h2>
        <p>
            <ul class="list-unstyled">
                <li><a href="https://docs.microsoft.com/en-us/dotnet/csharp/)">Official C#</a></li>
                <li><a href="https://docs.microsoft.com/en-us/ef/ef6/">Entity Framework</a></li>
                <li><a href="https://dotnet.microsoft.com/en-us/apps/aspnet/mvc">ASP.NET MVC Pattern</a></li>
                <li><a href="https://visualstudio.microsoft.com/vs/community/">Visual Studio Community Edition</a></li>
                <li><a href="https://www.microsoft.com/en-us/sql-server/sql-server-downloads">Microsoft SQL Server</a></li>
                <li><a href="https://www.w3schools.com/html/">HTML W3SCHOOLS</a></li>
                <li><a href="https://www.w3schools.com/css/">CSS W3SCHOOLS</a></li>
                <li><a href="https://getbootstrap.com/">Official Boostrap 4</a></li>
                <li><a href="https://fontawesome.com/">Official Font Awesome</a></li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Architecture</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
