@model  Assignment2.Models.ViewModels.Baroufa


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-1">CRUD Application </h1>
    <p class="display-4"> with <span class="bg-primary text-white">ASP.NET MVC</span> and <span class="bg-dark text-white">Entity Framework</span></>
    <hr class="my-4">
    <div class="row">
        <p class="lead col-10">Create | Read | Update | Delete</p>
        <p class="col-2"><a href="https://github.com/zafeirisdimi/Assignment2" class="btn btn-secondary btn-group-toggle" style="background-color: #9665cf"><i class="fa-brands fa-github fa-xl"></i> Read more</a></p>
    </div>

    <p>
        <img src="~/Media/crud.png" class="img-fluid rounded" />
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="text-left">Technologies/tools</h2>
        <p >
            <ul class="list-unstyled text-left">
                <li><a href="https://docs.microsoft.com/en-us/dotnet/csharp/)">Official C#</a></li>
                <li><a href="https://docs.microsoft.com/en-us/ef/ef6/">Entity Framework</a></li>
                <li><a href="https://dotnet.microsoft.com/en-us/apps/aspnet/mvc">ASP.NET MVC Pattern</a></li>
                <li><a href="https://visualstudio.microsoft.com/vs/community/">Visual Studio Community Edition</a></li>
                <li><a href="https://www.microsoft.com/en-us/sql-server/sql-server-downloads">Microsoft SQL Server</a></li>
                <li><a href="https://www.w3schools.com/html/">HTML W3SCHOOLS</a></li>
                <li><a href="https://www.w3schools.com/css/">CSS W3SCHOOLS</a></li>
                <li><a href="https://getbootstrap.com/">Official Boostrap 4</a></li>
                <li><a href="https://fontawesome.com/">Official Font Awesome</a></li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Documentation</h2>
        <p>
            The full Documentation of my application can be founded at my <a href="https://github.com/zafeirisdimi/Assignment2" class="text-primary">Github</a>.
            <br /><span>If you have any other quenstions, you could contant me <a href="mailto:https:kremou115@gmail.com">here</a></span>
        </p>
    </div>

    <div class="col-md-4">
        <h2 class="text-center">Architecture</h2>
        <p>My application is designed based the <strong>ASP.NET MVC Pattern (Model, View, Controller)</strong></p>
        <p><a class="btn btn-default" href="https://dotnet.microsoft.com/en-us/apps/aspnet/mvc">Learn more here &raquo;</a></p>
    </div>
</div>
