<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error1</title>
</head>
<style>
    b body {
        background: #FFC107;
        color: black;;
    }

    h1 {
        font: 6em Roboto;
    }

    h2 {
        display: inline-block;
        margin: .2em 3rem;
        font: 3em Roboto;
    }

</style>
<body>
    <hgroup>
        <h1><i class="fa-solid fa-ban"></i> Hoops</h1>
        <p>Something went wrong.</p>
        <p>Go back to Homepage @Html.ActionLink("Homepage", "Index", "Home", null, new { @class = "btn btn-sm btn-secondary", title = "back to Home" })</p>
    </hgroup>
</body>
</html>
